

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
footer
{	
	padding: 10px 0;
	background-color: #06A863;
	/*position: relative;*/
	/*clear: both;*/
	color:#FFF;
}













